@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
}
/*
    영역 관리 css --------
 */
body {
    margin: 0px;
}
.header{
    height : 80px;
    display: flex;
    padding: 0px 20px;
    color: forestgreen;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #efefef;
}
.main {
    width: 1280px;
    margin: 1.5rem auto;
    display: flex;
    gap: 1rem;
}

/*
    인풋요수 관련 css --------
 */
.input-100 {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    border-color: silver;
    outline: none;
}
/*
     회원 가입 및 로그인 관련 css -------------------------------------
 */

.signup-wrap {
    margin: 6rem 0rem;
    display: flex;
    justify-content: center;
}

.signup {
    max-width: 28rem;
}

/*
    커뮤니티 UI 관련 css ---------
 */
.article-item {
    padding: 0.375rem 0;
    border-bottom: 1px solid #e5e7eb;
}
.article-topic {
    display: inline-block;
    padding: 0.125rem 0.625rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    font-size: 0.75rem;
    color : #8f8f8f;
}
.article-link{
    text-decoration: none;
    color: #3f3f3f;
}
.article-link:hover {
    color: #79c0f8;
}
.artive-page-link {
    color: #79c0f8;
    font-weight: bold;
    text-decoration: none;
}
.page-link {
    color: #3f3f3f;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: #8f8f8f
}

.mt-1 {
    margin-top: 0.25rem;
}

.input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    border-color: #8f8f8f;
}
.signup-form > div {
    margin-top: 1.5rem;
}
.bt-submit {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
}
.bt-submit:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
.bt-submit:hover:not(:disabled) {
    background-color: #6f6f6f;
    color: #efefef;
}